@import 'https://fonts.googleapis.com/css?family=Ruslan+Display';


html,body{
 --icon-color: grey;
 --img-card: url(images/wallart.jpg) no-repeat center center;
 --content-bg: url("http://2.bp.blogspot.com/-6xBZDG-kel8/Vn7vQUN3VVI/AAAAAAAAAHE/80IYAPWj4rk/s1600/maxresdefault.jpg") no-repeat center center fixed;
 background: var(--content-bg);
 background-size: cover;
 overflow-x:hidden;
}

section{
 border: 1px transparent solid;
}


.navbar{
 max-width: 100%;
 width: 99.9%;
 position: fixed;
 height: 70px;
 background-color: rgba(0,0,0,0.5);

}

.navbar ul{
 height: 100%;
 margin: 20px auto;
 display: inline;
 text-align: center;
 padding: 0;
 list-style-type: none;
 display: block;
}

li {
 line-height: 10px;
 color: var(--icon-color);
 display: inline;
 margin: 0 30px;
}

a {
 text-decoration: none;
 font-size: 2em;
 color: var(--icon-color);

}

a:visited{
 color:currentColor;
}

li:hover{
 color: red;
}

.content{
 margin: 70px 20px;
 background: rgba(0,0,0,0.5);
}

.gallery-container{
 display: flex;
 flex-direction: column;
}

.pic {
 margin: 25px auto;
 height: 600px;
 width: 600px;
 background: var(--img-card);
 background-size: contain;
}


.footer{
 width: 100%;
 margin: 0 auto;
 padding: 10px;
 background: rgba(0,0,0,0.3);

}

svg {
 font: 'Ruslan Display', cursive;
 fill: transparent;
 font-size: 45px;
 stroke: red;
}

svg:hover{
 fill: red;
 cursor: pointer;
}
