@import 'https://fonts.googleapis.com/css?family=Ruslan+Display';


html,body{
 --icon-color: grey;
 --img-card: url(images/wallart.jpg) no-repeat center center;
 --content-bg: url(https://66.media.tumblr.com/ac95023837f871aca0a73bb3bfad4b80/tumblr_npqwt9qQhE1roic4mo1_500.gif) no-repeat center center fixed;
 --home-icon: url(images/home.jpg) no-repeat center center;
 background: var(--content-bg);
 background-size: cover;
 overflow-x:hidden;
}

.navbar{
 top: 0;
 width: 100%;
 position: fixed;
 height: 70px;
 background-color: rgba(0,0,0,0.5);
 z-index: 3;
}

.home{
 height: 50px;
 width: 50px;
 margin: 10px 10px;
 display: inline;
 position: fixed;
 background: var(--content-bg);
 background-size: contain;
 border: 1px red solid;
}

ul{
 height: 100%;
 margin: 20px auto;
 display: inline;
 text-align: center;
 padding: 0;
 list-style-type: none;
 display: block;
}

li {
 line-height: 10px;
 color: var(--icon-color);
 display: inline;
 margin: 0 30px;
}
a {
 text-decoration: none;
 font-size: 2em;
 color: var(--icon-color);

}
a:hover{
 color: red;
}

.content{
 margin: 70px 20px;
 background: rgba(0,0,0,0.5);
}

.gallery-container{
 display: flex;
 flex-direction: column;
}

.pic {
 margin: 25px auto;
 height: 600px;
 width: 600px;
 border-radius: 5%;
 background: var(--img-card);
 background-size: contain;
 cursor: pointer;
 opacity: 0.7;
}

.pic:hover{
 opacity: 1;
}

.footer{
 width: 100%;
 margin: 0 auto;
 padding: 10px;
 background: rgba(0,0,0,0.3);

}

svg {
 font: 'Ruslan Display', cursive;
 fill: transparent;
 font-size: 45px;
 stroke: none;
}

svg:hover{
 fill: red;
 cursor: pointer;
}
